<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <title>地點詳情</title>
  </head>
  <body>
    <h1>{{ place.name }}</h1>

    <p><strong>分類：</strong>{{ place.category.name }}</p>
    <p><strong>地區：</strong>{{ place.region }}</p>
    <p>
      <strong>Google 地圖：</strong>
      {% if place.google_map_link %}
      <a href="{{ place.google_map_link }}" target="_blank">查看地圖</a>
      {% else %} 無 {% endif %}
    </p>
    <p><strong>備註：</strong>{{ place.note }}</p>
    <p><strong>預算：</strong>{{ place.budget }}</p>
    <p><strong>是否公開：</strong>{{ place.is_public }}</p>
    <p><strong>建立時間：</strong>{{ place.created_at }}</p>
    <hr />

    <a href="{% url 'place_update' place.id %}">編輯地點</a>

    {% if user.is_authenticated %} 
        {% if place.user != user and place.is_public%}
            <a href="{% url 'add_favorite' place.id %}">收藏這個地點</a>
        {% endif %} 
    {% endif %}

    <a href="{% url 'place_delete' place.id %}">刪除地點</a>
    <br /><br />
    <a href="{% url 'place_list' %}">返回列表</a>
  </body>
</html>
